<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="zhangtaouc.springboot2.Mapper.StudentMapper">

    <select id="selectAll"  resultType="zhangtaouc.springboot2.Entity.Student">
        select name,address
        from `student`
    </select>

    <select id="getStudentByName"  parameterType="String" resultType="zhangtaouc.springboot2.Entity.Student">
        select name,address
        from `student`
        where name = #{name}
    </select>


    <insert id="addStudent" parameterType="student">
        insert into student values(#{name}, #{address})
    </insert>

    <insert id="updateStudent" parameterType="student">
        update student set name=#{name}, address=#{address} where name=#{name}
    </insert>

    <delete id="deleteStudent" parameterType="String">
        delete from student where name= #{name}
    </delete>


</mapper>


